<%= form_with model: @team_member, url: url_form, html: { class: "admin-crud teams needs-validation", novalidate: true } do |form| %>
  <%= form.hidden_field :rating %>

  <div class="row">
    <div class="col-lg-9">
      <div class="input-group mb-4 mb-3">
        <div class="input-group-text checkbox status">
          <%= form.check_box :status, class: "form-check-input mt-0", required: false %>
          <%= form.label :status, class: "form-check-label" %>
        </div>
      </div>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.position" %></span>
        <%= form.number_field :position, step: 1, min: 0, class: "form-control", placeholder: @team_members.size + 1, required: true %>
        <div class="invalid-feedback"><%= t "validation.invalid.position" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>

      <div class="row">
        <div class="mb-4 mb-3 col-md-4">
          <%= form.text_field :last_name, class: "form-control slug-item", placeholder: true, required: true %>
          <div class="invalid-feedback"><%= t "validation.invalid.last_name" %></div>
          <div class="valid-feedback"><%= t "validation.valid" %></div>
        </div>
        <div class="mb-4 mb-3 col-md-4">
          <%= form.text_field :first_name, class: "form-control slug-item", placeholder: true, required: true %>
          <div class="invalid-feedback"><%= t "validation.invalid.first_name" %></div>
          <div class="valid-feedback"><%= t "validation.valid" %></div>
        </div>
        <div class="mb-4 mb-3 col-md-4">
          <%= form.text_field :patronymic_name, class: "form-control slug-item", placeholder: true, required: true %>
          <div class="invalid-feedback"><%= t "validation.invalid.patronymic_name" %></div>
          <div class="valid-feedback"><%= t "validation.valid" %></div>
        </div>
      </div>

      <div class="mb-4 mb-3">
        <div class="input-group">
          <span class="input-group-text justify-content-end"><%= base_url("team") %></span>
          <%= form.text_field :slug, class: "form-control slug", "aria-describedby": "generate-slug", placeholder: t("placeholders.team_members.slug"), required: true %>
          <span id="generate-slug" class="btn btn-light"><%= t "crud.table.generate" %></span>

          <div class="invalid-feedback"><%= t "validation.invalid.slug" %></div>
          <div class="valid-feedback"><%= t "validation.valid" %></div>
        </div>
        <div class="form-text"><%= t "hint.slug" %></div>
      </div>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end align-items-start"><%= t "crud.table.job_title" %></span>
        <%= form.collection_select :job_title_ids, @job_titles, :id, :name, { include_blank: false, selected: @team_member.job_title_ids }, { class: "form-select select2", multiple: true, required: true } %>

        <div class="invalid-feedback"><%= t "validation.invalid.job_title" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.email" %></span>
        <%= form.text_field :email, class: "form-control", placeholder: t("placeholders.email"), required: true %>
        <div class="invalid-feedback"><%= t "validation.invalid.email" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.phone_number" %></span>
        <%= form.text_field :phone, class: "form-control inputmask-phone", placeholder: t("placeholders.phone"), required: true %>

        <div class="input-group-text checkbox">
          <%= form.check_box :whatsapp, class: "form-check-input mt-0" %>
          <%= form.label :whatsapp, class: "form-check-label" %>
        </div>

        <div class="invalid-feedback"><%= t "validation.invalid.phone" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="d-flex justify-content-center list-images">
        <div class="img-thumbnail">
          <% if @team_member.photo.attached? %>
            <%= image_tag(@team_member.photo, id: "selected-image", class: "selected-image") %>
            <%= link_to delete_photo_admin_team_member_path(id: @team_member.id, image_id: @team_member.photo.id), data: { turbo_method: "delete", turbo_confirm: t("crud.table.confirm") }, class: "text-danger" do %>
              <i class="bi bi-x-circle-fill"></i>
            <% end %>
          <% else %>
            <%= image_tag "team-placeholder.png", id: "selected-image", class: "selected-image preview" %>
          <% end %>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-end photo-wrapper">
        <div class="btn btn-light mb-4 mb-3">
          <%= form.label :photo, t("crud.table.select_photo"), class: "form-label" %>
          <%= form.file_field :photo, class: "form-control d-none upload-image" %>
        </div>
      </div>
    </div>
  </div>

  <div class="input-group mb-4 mb-3">
    <span class="input-group-text justify-content-end align-items-start"><%= t "crud.table.info" %></span>
    <div data-controller="tinymce" class="form-control tinymce">
      <%= form.text_area :info, data: { tinymce_target: "input" }, class: "tinymce", rows: 5 %>
    </div>
    <%= tinymce %>
  </div>

  <%= form.submit t("crud.table.save_button"), class: "btn btn-light" %>
<% end %>
