<div class="page-content__header d-flex justify-content-between">
  <div class="page-subtitle-box d-flex align-items-center">
    <h4><%= t "teams.list_team_member_title" %></h4>
    <%= link_to edit_admin_setting_path(meta_data.id), class: "mx-2", title: "Настройки" do %>
      <i class="bi bi-gear"></i>
    <% end %>
  </div>
  <%= link_to new_admin_team_member_path, class: "btn btn-light" do %>
    <i class="bi bi-plus"></i>
    <%= t "teams.new_team_member" %>
  <% end %>
</div>

<% if @team_members.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center"><%= t "crud.table.id" %></th>
        <th scope="col"><%= t "crud.table.full_name" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.rating" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.realties" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.status" %></th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @team_members.each do |team_member| %>
        <tr>
          <th scope="row" class="text-center"><%= team_member.position %></th>
          <td>
            <%= team_member.whole_name %>
            <%= list_objects(team_member.job_titles.order(:position).pluck(:name), "index") %>
          </td>
          <td class="text-center"><%= rating_with_reviews team_member %></td>
          <td class="text-center"><%= team_member.realties.size %></td>
          <td class="status text-center"><%= activity_status team_member.status %></td>
          <td>
            <%= link_to admin_team_member_path(team_member.id), class: "text-light" do %>
              <i class="bi bi-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_team_member_path(team_member.id), class: "text-light" do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
          </td>
          <td>
            <%= link_to admin_team_member_path(team_member.id), data: { turbo_method: "delete", turbo_confirm: t("crud.table.confirm") }, class: "text-light" do %>
              <i class="bi bi-trash3"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render "admin/shared/pagination_info", collection: @team_members, total: @total_team_members %>
<% else %>
  <div class="alert alert-success text-center" role="alert"><%= t "crud.table.not_found" %></div>
<% end %>
