<div class="d-flex justify-content-end page-content__header">
  <%= link_to new_admin_vacancy_path, class: "btn btn-light" do %>
    <i class="bi bi-plus"></i>
    <%= t "vacancies.new_vacancy" %>
  <% end %>
</div>

<% if @vacancies.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center"><%= t "crud.table.id" %></th>
        <th scope="col"><%= t "crud.table.name" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.experience" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.income" %></th>
        <th scope="col"><%= t "crud.table.published_at" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.status" %></th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @vacancies.each.with_index(1) do |vacancy, index| %>
        <tr>
          <th scope="row" class="text-center"><%= index %></th>
          <td>
            <%= vacancy.name %>
            <div class="assigned"><%= vacancy.team_member.whole_name %></div>
          </td>
          <td class="text-center">
            <div class="note"><%= vacancy.experience %></div>
          </td>
          <td class="text-center">
            <div class="note"><%= income vacancy %></div>
          </td>
          <td><%= date_format vacancy.published_at %></td>
          <td class="status text-center"><%= activity_status vacancy.status %></td>
          <td>
            <%= link_to admin_vacancy_path(vacancy.id), class: "text-light" do %>
              <i class="bi bi-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_vacancy_path(vacancy.id), class: "text-light" do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
          </td>
          <td>
            <%= link_to admin_vacancy_path(vacancy.id), data: { turbo_method: "delete", turbo_confirm: t("crud.table.confirm") }, class: "text-light" do %>
              <i class="bi bi-trash3"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render "admin/shared/pagination_info", collection: @vacancies, total: @total_vacancies %>
<% else %>
  <div class="alert alert-success text-center" role="alert"><%= t "crud.table.not_found" %></div>
<% end %>
