<div class="page-subtitle-box d-flex justify-content-between">
  <h4><%= t "vacancies.show_vacancy_title" %></h4>
  <div class="link-group mb-4">
    <%= link_to edit_admin_vacancy_path(@vacancy.id), class: "text-light" do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= link_to admin_vacancy_path(@vacancy.id), data: { turbo_method: "delete", turbo_confirm: t("crud.table.confirm") }, class: "text-light" do %>
      <i class="bi bi-trash3"></i>
    <% end %>
  </div>
</div>

<div class="admin-crud teams">
  <div class="row team-member__data">
    <div class="col-lg-9">
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.status" %></div>
        <div class="field-value"><%= activity_status @vacancy.status, true %></div>
      </div>
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.name" %></div>
        <div class="field-value"><%= @vacancy.name %></div>
      </div>
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end flex-wrap"><%= t "crud.table.employment_types" %></div>
        <div class="field-value"><%= list_objects @vacancy.employment_types.pluck(:name) %></div>
      </div>
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.location" %></div>
        <div class="field-value"><%= @vacancy.location %></div>
      </div>
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.job_title" %></div>
        <div class="field-value"><%= @vacancy.job_title.name %></div>
      </div>
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.experience" %></div>
        <div class="field-value"><%= @vacancy.experience %></div>
      </div>
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.income" %></div>
        <div class="field-value"><%= income @vacancy %></div>
      </div>
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.published_at" %></div>
        <div class="field-value"><%= date_format @vacancy.published_at, true %></div>
      </div>
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.skills" %></div>
        <div class="field-value"><%= list_objects @vacancy.skills.pluck(:name) %></div>
      </div>
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.contact_info" %></div>
        <div class="field-value"><%= @vacancy.team_member.whole_name %></div>
      </div>

      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.description" %></div>
        <div class="field-value info"><%= @vacancy.description.html_safe %></div>
      </div>
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.more_info" %></div>
        <div class="field-value info"><%= @vacancy.more_info.html_safe %></div>
      </div>
    </div>

    <div class="col-lg-3"></div>
  </div>
</div>
