<section class="vacancy-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render "application/shared/breadcrumbs" %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h4>Агентство недвижимости «РиелтСтройСфера» <br /> приглашает Вас на собеседование!</h4>
        <p class="subtitle">Отсутствие опыта работы в сфере недвижимости - является Вашим преимуществом!</p>
      </div>
    </div>

    <div class="card-list">
      <div class="row text-center">
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-geo-alt"></i></div>
              <h5 class="card-title">Офис в центре города</h5>
              <p class="card-text">Большой, просторный офис в центре города с современным ремонтом и техникой.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-book"></i></div>
              <h5 class="card-title">Обучение</h5>
              <p class="card-text">Обучение профессии в команде опытных и компетентных наставников.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-cash-coin"></i></div>
              <h5 class="card-title">Высокая зарплата</h5>
              <p class="card-text">В нашей компании достойная оплата труда. До 50% от сделки.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-calendar3"></i></div>
              <h5 class="card-title">Гибкий график</h5>
              <p class="card-text">Полная занятость и удобный график работы.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-buildings"></i></div>
              <h5 class="card-title">База недвижимости</h5>
              <p class="card-text">и покупателей для быстрого старта в профессии.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-geo"></i></div>
              <h5 class="card-title">Удобное расположение</h5>
              <p class="card-text">Большой и просторный офис центре нашего города.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-people"></i></div>
              <h5 class="card-title">Команда</h5>
              <p class="card-text">Мы умеем продавать один из самых дорогих товаров в мире – недвижимость. Стань частью нашей команды!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-file-earmark-medical"></i></div>
              <h5 class="card-title">Официальное трудоустройство</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="vacancy-page bg-white">
  <div class="container">
    <div class="vacancy-info">
      <div class="row align-items-center">
        <div class="col-lg-6 text-end">
          <%= image_tag "vacancy-img.png", alt: "Вакансии" %>
        </div>
        <div class="col-lg-6">
          <h3>Присоединяйся к нашей команде!</h3>
          <p class="subtitle">Выбирайте вакансию, которая подходит именно вам.</p>
          <ul class="list-none text-slate-400 mt-4">
            <li class="mb-1 flex items-center">
              <i class="bi bi-check-circle"></i>
              Оставьте заявку на сайте
            </li>
            <li class="mb-1 flex items-center">Выберите интересующую вам вакансию</li>
            <li class="mb-1 flex items-center">
              <i class="bi bi-check-circle"></i>
              Пройдите собеседование с руководителем
            </li>
            <li class="mb-1 flex items-center">Расскажи о себе, своих умениях и навыках</li>
            <li class="mb-1 flex items-center">
              <i class="bi bi-check-circle"></i>
              Пройдите обучение вместе с профессионалами и начинайте зарабатывать
            </li>
            <li class="mb-1 flex items-center">Работа на следующий день после собеседования</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @vacancies.present? %>
  <section class="vacancy-page bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h4>Открытые вакансии</h4>
          <p class="subtitle">Выбери подходящую вакансию и оставьте заявку. Наш менеджер свяжется с Вами в течение
            рабочего дня!</p>
        </div>
      </div>

      <div class="row vacancy-items">
        <div class="col-lg-6 offset-lg-3">
          <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
            <% @vacancy_data[:tabs].each.with_index do |tab, index| %>
              <%
                btn_classes = index.zero? ? "nav-link active" : "nav-link"
                selected_value = true if index.zero?
              %>

              <li class="nav-item" role="presentation">
                <%= button_tag tab[:name], class: btn_classes, id: "vacancy-#{tab[:id]}-tab", data: { "bs-toggle": :pill, "bs-target": "#vacancy-#{tab[:id]}" }, type: :button, role: :tab, aria: { controls: "vacancy-#{tab[:id]}", selected: selected_value } %>
              </li>
            <% end %>
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <% @vacancy_data[:contents].each.with_index do |(id, vacancies), index| %>
              <%
                block_classes = index.zero? ? "tab-pane fade show active" : "tab-pane fade"
              %>

              <div class="<%= block_classes %>" id="vacancy-<%= id %>" role="tabpanel" aria-labelledby="vacancy-<%= id %>-tab" tabindex="<%= index %>">
                <% vacancies.each do |vacancy| %>
                  <div class="vacancy-item align-items-center">
                    <div class="vacancy-item__info">
                      <%= link_to vacancy.name, vacancy_path(vacancy.slug) %>
                      <p><%= income vacancy %> <span class="work-note"><%= vacancy.experience %></span></p>
                    </div>
                    <%= link_to "Подробнее", vacancy_path(vacancy.slug), class: "btn btn-white d-none d-lg-block" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
