<section class="vacancy-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render "application/shared/breadcrumbs" %>
      </div>
    </div>

    <div class="row vacancy-detail">
      <div class="col-lg-4 col-12 mb-3">
        <div class="sidebar-wrapper">
          <div class="sidebar">
            <h5>Информация о вакансии</h5>

            <div class="sidebar-info">
              <%= vacancy_info(@vacancy) %>
            </div>
          </div>

          <div class="respond d-lg-block d-none">
            <% if flash.key?("response") %>
              <%= render "application/shared/flash_messages", exclude: "response" %>
            <% else %>
              <div class="accordion" id="vacancy-response">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <%= button_tag "Откликнуться", class: "accordion-button collapsed", type: :button, data: { "bs-toggle": :collapse, "bs-target": "#response-form" }, aria: { expanded: false, controls: "panelsStayOpen-collapseOne" } %>
                  </h2>

                  <div id="response-form" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <%= form_with model: @message, url: messages_path, html: { class: "needs-validation respond-form", novalidate: true } do |form| %>
                        <%= form.hidden_field :status, value: :new %>
                        <%= form.hidden_field :category, value: :response %>
                        <%= form.hidden_field :name, value: form_title("response", controller_name, @vacancy.job_title.name) %>

                        <%= fields_for :fields do |fields| %>
                          <div class="mb-3">
                            <%= fields.text_field :name, class: "form-control", placeholder: "Ваше имя", required: true %>
                            <div class="invalid-feedback">Пожалуйста введите имя</div>
                            <div class="valid-feedback">Заполнено!</div>
                          </div>

                          <div class="mb-3">
                            <%= fields.text_field :email, class: "form-control email-mask", placeholder: "Ваш email", required: true %>
                            <div class="invalid-feedback">Пожалуйста введите email</div>
                            <div class="valid-feedback">Заполнено!</div>
                          </div>

                          <div class="mb-3">
                            <%= fields.text_field :phone, class: "form-control phone-mask", placeholder: "Ваш телефон", required: true %>
                            <div class="invalid-feedback">Пожалуйста введите телефон</div>
                            <div class="valid-feedback">Заполнено!</div>
                          </div>

                          <div class="mb-3">
                            <%= fields.select :position, @job_titles, { include_blank: false, selected: @vacancy.job_title_id }, { class: "form-select", placeholder: "Должность" } %>
                            <div class="invalid-feedback">Пожалуйста выберите должность</div>
                            <div class="valid-feedback">Заполнено!</div>
                          </div>

                          <div class="mb-3">
                            <%= fields.text_area :message, class: "form-control", placeholder: "Сообщение", rows: 5 %>
                            <div class="invalid-feedback">Пожалуйста введите текст сообщения</div>
                            <div class="valid-feedback">Заполнено!</div>
                          </div>
                        <% end %>

                        <div class="d-grid gap-2">
                          <%= form.button t("app.button.send"), type: :submit, class: "btn btn-success" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-12 mb-3">
        <%= @vacancy.description.html_safe %>

        <h5>Ключевые навыки:</h5>
        <%= vacancy_skills(@vacancy) %>

        <h5>Контактная информация:</h5>
        <ul class="list-none">
          <li class="items-center mb-2 d-flex align-items-center vacancy-contact">
            <% team_member = @vacancy.team_member %>
            <%= link_to team_member_path(team_member.slug) do %>
              <%= image_tag team_member.photo.variant(:thumb), class: "img-thumbnail", alt: team_member.whole_name %>
            <% end %>
            <div class="vacancy-contact__info">
              <div class="user-name">
                <%= link_to team_member.whole_name, team_member_path(team_member.slug) %>
              </div>
              <p class="user-role">HR Менеджер</p>
              <div class="contact-list">
                <div class="info-item">
                  <i class="bi bi-telephone-fill"></i>
                  <%= link_phone team_member.phone %>
                </div>
                <div class="info-item">
                  <i class="bi bi-envelope"></i>
                  <%= link_email team_member.email %>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <hr>

        <%= @vacancy.more_info.html_safe %>
      </div>

      <div class="respond d-lg-none d-block col-12">
        <% if flash.key?("response_mobile") %>
          <%= render "application/shared/flash_messages", exclude: "response_mobile" %>
        <% else %>
          <div class="accordion" id="vacancy-response-mobile">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <%= button_tag "Откликнуться", class: "accordion-button collapsed", type: :button, data: { "bs-toggle": :collapse, "bs-target": "#response-form-mobile" }, aria: { expanded: false, controls: "panelsStayOpen-collapseOne" } %>
              </h2>

              <div id="response-form-mobile" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <%= form_with model: @message, url: messages_path, html: { class: "needs-validation respond-form", novalidate: true } do |form| %>
                    <%= form.hidden_field :status, value: :new %>
                    <%= form.hidden_field :category, value: :response_mobile %>
                    <%= form.hidden_field :name, value: form_title("response_mobile", controller_name, @vacancy.job_title.name) %>

                    <%= fields_for :fields do |fields| %>
                      <div class="mb-3">
                        <%= fields.text_field :name, class: "form-control", placeholder: "Ваше имя", required: true %>
                        <div class="invalid-feedback">Пожалуйста введите имя</div>
                        <div class="valid-feedback">Заполнено!</div>
                      </div>

                      <div class="mb-3">
                        <%= fields.text_field :email, class: "form-control email-mask", placeholder: "Ваш email", required: true %>
                        <div class="invalid-feedback">Пожалуйста введите email</div>
                        <div class="valid-feedback">Заполнено!</div>
                      </div>

                      <div class="mb-3">
                        <%= fields.text_field :phone, class: "form-control phone-mask", placeholder: "Ваш телефон", required: true %>
                        <div class="invalid-feedback">Пожалуйста введите телефон</div>
                        <div class="valid-feedback">Заполнено!</div>
                      </div>

                      <div class="mb-3">
                        <%= fields.select :position, @job_titles, { include_blank: false, selected: @vacancy.job_title_id }, { class: "form-select", placeholder: "Должность" } %>
                        <div class="invalid-feedback">Пожалуйста выберите должность</div>
                        <div class="valid-feedback">Заполнено!</div>
                      </div>

                      <div class="mb-3">
                        <%= fields.text_area :message, class: "form-control", placeholder: "Сообщение", rows: 5 %>
                        <div class="invalid-feedback">Пожалуйста введите текст сообщения</div>
                        <div class="valid-feedback">Заполнено!</div>
                      </div>
                    <% end %>

                    <div class="d-grid gap-2">
                      <%= form.button t("app.button.send"), type: :submit, class: "btn btn-success" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
