<div class="page-subtitle-box"><h4><%= t "messages.list_message_title" %></h4></div>

<% if @messages.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center"><%= t "crud.table.id" %></th>
        <th scope="col"><%= t "crud.table.name" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.created_at" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.status" %></th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each.with_index(1) do |message, index| %>
        <tr>
          <th scope="row" class="text-center"><%= index %></th>
          <td><%= message.name %></td>
          <td class="text-center"><%= date_format message.created_at %></td>
          <td class="status text-center"><%= message_status message.status %></td>
          <td>
            <%= link_to admin_message_path(message.id), class: "text-light" do %>
              <i class="bi bi-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_message_path(message.id), class: "text-light" do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
          </td>
          <td>
            <%= link_to admin_message_path(message.id), data: { turbo_method: "delete", turbo_confirm: t("crud.table.confirm") }, class: "text-light" do %>
              <i class="bi bi-trash3"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render "admin/shared/pagination_info", collection: @messages, total: @total_messages %>
<% else %>
  <div class="alert alert-success text-center" role="alert"><%= t "crud.table.not_found" %></div>
<% end %>
