<section class="team-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render "application/shared/breadcrumbs" %>
      </div>
    </div>

    <div class="details-wrapper bg-white">
      <div class="row">
        <div class="col-lg-3 col-12">
          <% if @team_member.photo.attached? %>
            <%= image_tag @team_member.photo.variant(:full), class: "img-thumbnail", alt: @team_member.whole_name %>
          <% else %>
            <%= image_tag "team-placeholder.png", class: "img-thumbnail preview" %>
          <% end %>
        </div>

        <div class="col-lg-9 col-12">
          <div class="user-info__wrapper">
            <div class="detail-user-info">
              <% if @team_member.rating.present? && @team_member.rating.nonzero? %>
                <div class="rating">
                <span class="rating-count">
                  <% rating_stars(@team_member.rating).each do |key, value| %>
                    <% star_class = [:fill, :half].include?(key) ? "bi bi-star-#{key}" : "bi bi-star" %>
                    <% value.times do %>
                      <i class="<%= star_class %>"></i>
                    <% end %>
                  <% end %>
                </span>
                  <%= rating_reviews @team_member %>
                </div>
              <% end %>

              <h3><%= @team_member.whole_name %> <i class="bi bi-check-circle-fill"></i></h3>

              <p class="role">
                <i class="bi bi-person-fill-exclamation"></i>
                <%= list_positions_detail @team_member.job_titles.pluck(:name) %>
              </p>
            </div>

            <div class="detail-actions">
              <%= link_call @team_member.phone %>
              <%= link_whatsapp(@team_member.phone) if @team_member.whatsapp %>
            </div>
          </div>

          <div class="contact-list">
            <div class="info-item">
              <i class="bi bi-telephone-fill"></i>
              <%= link_phone @team_member.phone %>
            </div>
            <div class="info-item">
              <i class="bi bi-envelope"></i>
              <%= link_email @team_member.email %>
            </div>
          </div>

          <% if @team_member.info.present? %>
            <div class="accordion" id="user-info">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#about-team<%= @team_member.id %>" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <%= accordion_button_name @team_member.job_titles.pluck(:name) %>
                  </button>
                </h2>
                <div id="about-team<%= @team_member.id %>" class="accordion-collapse collapse show">
                  <div class="accordion-body">
                    <%= @team_member.info.html_safe %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8">
        <% if @realties.present? %>
          <div class="my-objects bg-white">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <% @realty_data[:tabs].each.with_index do |tab, index| %>
                <li class="nav-item" role="presentation">
                  <%
                    btn_class = index.zero? ? "nav-link active" : "nav-link"
                    area_selected = true if index.zero?
                  %>
                  <%= button_tag class: btn_class, id: "objects-#{tab[:id]}-tab", type: :button, role: :tab, data: { "bs-toggle": :pill, "bs-target": "#objects-#{tab[:id]}" }, aria: { controls: "objects-#{tab[:id]}", selected: area_selected } do %>
                    <%= tab_name tab[:name], tab[:count] %>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <% @realty_data[:contents].each.with_index do |content, index| %>
                <% content_classes = index.zero? ? "tab-pane fade show active" : "tab-pane fade" %>
                <div class="<%= content_classes %>" id="objects-<%= content[:id] %>" role="tabpanel" aria-labelledby="objects-<%= content[:id] %>-tab" tabindex="<%= index %>">
                  <% slides = content[:objects].each_slice(2) %>

                  <div id="carousel-objects" class="carousel slide">
                    <div class="carousel-indicators">
                      <% slides.with_index do |_, index| %>
                        <% class_active = "active" if index.zero? %>
                        <%= button_tag '', class: class_active, type: :button, data: { "bs-target": "#carousel-objects", "bs-slide-to": index }, aria: { current: (true if index.zero?), label: "Slide #{index}" } %>
                      <% end %>
                    </div>
                    <div class="carousel-inner">
                      <% slides.with_index do |objects, index| %>
                        <% carousel_classes = index.zero? ? "carousel-item active" : "carousel-item" %>

                        <div class="<%= carousel_classes %>">
                          <div class="row">
                            <% objects.each do |realty| %>
                              <div class="object col-lg-6">
                                <div class="card">
                                  <%= link_to realty_href(realty) do %>
                                    <% if realty.photos.attached? %>
                                      <%= image_tag realty.photos.first.variant(:thumb), class: "d-block w-100", alt: realty.name %>
                                    <% else %>
                                      <%= image_tag "realty-placeholder.png", class: "d-block w-100", alt: realty.name %>
                                    <% end %>
                                  <% end %>
                                  <div class="card-body">
                                    <span class="card-price">
                                      <%= realty_price(realty) %>
                                    </span>
                                    <h5 class="card-title">
                                      <%= link_to_realty(realty) %>
                                    </h5>
                                    <div class="card-text">
                                      <small class="card-location">
                                        <i class="bi bi-geo-alt-fill"></i>
                                        <%= realty_location realty %>
                                      </small>
                                      <% if realty.payments.present? %>
                                        <small class="additional-payments">
                                          <%= realty.payments %>
                                        </small>
                                      <% end %>
                                      <div class="card-description">
                                        <%= realty.description&.html_safe %>
                                      </div>
                                    </div>
                                  </div>
                                  <%= realty_footer(realty) %>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="reviews bg-white">
          <div class="accordion" id="user-reviews">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <%= button_tag class: "accordion-button", type: :button, data: { "bs-toggle": :collapse, "bs-target": "#team#{@team_member.id}-reviews" }, aria: { expanded: true, controls: "panelsStayOpen-collapseOne" } do %>
                  <%= accordion_button("Отзывы", @reviews.size) %>
                <% end %>
              </h2>
              <div id="team<%= @team_member.id %>-reviews" class="accordion-collapse collapse show">
                <div class="accordion-body review-card">
                  <% if @reviews.present? %>
                    <% @reviews.each do |review| %>
                      <div class="customer-review">
                        <div class="customer-info">
                          <div class="customer-name">
                            <%= image_tag review.avatar, alt: review.author %>
                            <div>
                              <h5><%= review.author %></h5>
                              <p><%= l(review.published_at, format: "%d %B %Y").gsub(/\b./, &:upcase) %></p>
                            </div>
                          </div>

                          <div class="rating">
                          <span class="rating-count">
                            <% rating_stars(@team_member.rating).each do |key, value| %>
                              <% star_class = [:fill, :half].include?(key) ? "bi bi-star-#{key}" : "bi bi-star" %>
                              <% value.times do %>
                                <i class="<%= star_class %>"></i>
                              <% end %>
                            <% end %>
                          </span>
                            <%= rating_review @team_member %>
                          </div>
                        </div>

                        <div class="review-comment">
                          <%= review.feedback.html_safe %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>

                  <% if flash.key?("review") %>
                    <%= render "application/shared/flash_messages", exclude: "review" %>
                  <% else %>
                    <div class="property-review">
                      <h5 class="card-title">Оставить отзыв</h5>

                      <%= form_with model: @review, url: messages_path, html: { class: "needs-validation review-form", novalidate: true } do |form| %>
                        <%= form.hidden_field :status, value: :new %>
                        <%= form.hidden_field :category, value: :review %>
                        <%= form.hidden_field :name, value: form_title("review", "review_#{controller_name}", @team_member.whole_name) %>

                        <%= hidden_field_tag "fields[0][team_member]", @team_member.whole_name %>

                        <div class="row">
                          <div class="col-lg-6 col-12 mb-3">
                            <%= text_field_tag "fields[1][username]", nil, class: "form-control", placeholder: "Ваше имя", required: true %>
                            <div class="invalid-feedback">Пожалуйста введите имя</div>
                            <div class="valid-feedback">Заполнено!</div>
                          </div>
                          <div class="col-lg-6 col-12 mb-3">
                            <%= text_field_tag "fields[2][email]", nil, class: "form-control email-mask", placeholder: "E-mail" %>
                          </div>
                        </div>

                        <div class="mb-3">
                          <%= text_area_tag "fields[3][message]", nil, class: "form-control", placeholder: "Отзыв", rows: 5, required: true %>
                          <div class="invalid-feedback">Пожалуйста введите текст отзыва</div>
                          <div class="valid-feedback">Заполнено!</div>
                        </div>

                        <div class="mb-3 d-flex">
                          <div class="rating-group justify-content-center">
                            <% (0..5).step(0.5).with_index do |rating, index| %>
                              <% if index.zero? %>
                                <%= radio_button_tag "fields[4][rating]", 0, class: "rating__input rating__input--none", id: "rating2-0", checked: true  %>
                                <%= label_tag nil, nil, class: "rating__label", "area-label": "0 stars", for: "rating2-0" %>
                              <% else %>
                                <% radio_id = ["rating2", rating.to_s.gsub(".", "")].join("-") %>

                                <% if rating.to_s.split(".").last.to_i.zero? %>
                                  <%= label_tag nil, class: "rating__label", "area-label": "#{rating} stars", for: radio_id do %>
                                    <i class="rating__icon rating__icon--star bi bi-star-fill"></i>
                                  <% end %>
                                  <%= radio_button_tag "fields[4][rating]", rating, class: "rating__input", id: radio_id %>
                                <% else %>
                                  <%= label_tag nil, class: "rating__label rating__label--half", "area-label": "#{rating} stars", for: radio_id do %>
                                    <i class="rating__icon rating__icon--star bi bi-star-half"></i>
                                  <% end %>
                                  <%= radio_button_tag "fields[4][rating]", rating, class: "rating__input", id: radio_id %>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>

                        <div class="d-grid gap-2">
                          <%= form.button t("app.button.send"), type: :submit, class: "btn btn-success" %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12">
        <% if flash.key?("message") %>
          <%= render "application/shared/flash_messages", exclude: "message" %>
        <% else %>
          <div class="feedback-form bg-white">
            <div class="sidebar-card">
              <%= form_with model: @message, url: messages_path, html: { class: "needs-validation message-form", novalidate: true } do |form| %>
                <%= form.hidden_field :status, value: :new %>
                <%= form.hidden_field :category, value: :message %>
                <%= form.hidden_field :name, value: form_title("message", controller_name, @team_member.whole_name) %>

                <div class="sidebar-card-title">
                  <h5>Написать сообщение</h5>
                </div>

                <%= hidden_field_tag "fields[0][team_member]", @team_member.whole_name %>

                <div class="mb-3">
                  <%= text_field_tag "fields[1][username]", nil, class: "form-control", placeholder: "Ваше имя", required: true %>
                  <div class="invalid-feedback">Пожалуйста введите имя</div>
                  <div class="valid-feedback">Заполнено!</div>
                </div>

                <div class="mb-3">
                  <%= text_field_tag "fields[2][email]", nil, class: "form-control email-mask", placeholder: "Ваш email", required: true %>
                  <div class="invalid-feedback">Пожалуйста введите email</div>
                  <div class="valid-feedback">Заполнено!</div>
                </div>

                <div class="mb-3">
                  <%= text_field_tag "fields[3][phone]", nil, class: "form-control phone-mask", placeholder: "Ваш телефон", required: true %>
                  <div class="invalid-feedback">Пожалуйста введите телефон</div>
                  <div class="valid-feedback">Заполнено!</div>
                </div>

                <div class="mb-3">
                  <%= select_tag "fields[4][type_realty]", options_for_select(Realty::TYPES.values), include_blank: false, prompt: "Тип недвижимости", class: "form-select" %>
                </div>

                <div class="mb-3">
                  <%= text_area_tag "fields[5][message]", nil, class: "form-control", placeholder: "Сообщение", rows: 5 %>
                  <div class="invalid-feedback">Пожалуйста введите текст сообщения</div>
                  <div class="valid-feedback">Заполнено!</div>
                </div>

                <div class="d-grid gap-2">
                  <%= form.button t("app.button.send"), type: :submit, class: "btn btn-success" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "application/shared/widgets/vacancy" %>
</section>
