<header class="header">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand d-md-none" do %>
        <%= image_tag "logo.png", title: "РиелтСтройСфера" %>
      <% end %>
      <%= button_tag class: "navbar-toggler", type: :button, data: { "bs-toggle": :collapse, "bs-target": "#navbarNav", aria: { controls: :navbarNav, expanded: false, label: "Переключение навигации" } } do %>
        <span class="navbar-toggler-icon"></span>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Купить
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="buy-room.html">Комнату</a></li>
              <li><a class="dropdown-item" href="buy-flat.html">Квартиру</a></li>
              <li><a class="dropdown-item" href="buy-house.html">Загородный дом</a></li>
              <li><a class="dropdown-item" href="buy-land.html">Земельный участок</a></li>
              <li><a class="dropdown-item" href="buy-commercial.html">Коммерческая недвижимость</a></li>
              <li><a class="dropdown-item" href="buy-garage.html">Гараж</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="base-property.html">База недвижимости</a></li>
            </ul>
          </li>
          <li class="<%= dropdown_active("sells") %>">
            <%= link_to "Продать", sells_path, class: "nav-link dropdown-toggle", role: :button, data: { "bs-toggle": :dropdown }, aria: { expanded: false } %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Комнату", sells_path(realty_id: 1), class: dropdown_active_class(sells_path(realty_id: 1)) %>
              </li>
              <li>
                <%= link_to "Квартиру", sells_path(realty_id: 2), class: dropdown_active_class(sells_path(realty_id: 2)) %>
              </li>
              <li>
                <%= link_to "Загородный дом", sells_path(realty_id: 3), class: dropdown_active_class(sells_path(realty_id: 3)) %>
              </li>
              <li>
                <%= link_to "Земельный участок", sells_path(realty_id: 4), class: dropdown_active_class(sells_path(realty_id: 4)) %>
              </li>
              <li>
                <%= link_to "Коммерческую недвижимость", sells_path(realty_id: 5), class: dropdown_active_class(sells_path(realty_id: 5)) %>
              </li>
              <li>
                <%= link_to "Гараж", sells_path(realty_id: 6), class: dropdown_active_class(sells_path(realty_id: 6)) %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "Подбор покупателей", sells_search_buyers_path, class: dropdown_active_class(sells_search_buyers_path) %>
              </li>
            </ul>
          </li>
          <li class="<%= dropdown_active("rents") %>">
            <%= link_to "Аренда", rents_path, class: "nav-link dropdown-toggle", role: :button, data: { "bs-toggle": :dropdown }, aria: { expanded: false } %>
            <ul class="dropdown-menu">
              <li><%= link_to "Снять недвижимость", rents_path, class: dropdown_active_class(rents_path) %></li>
              <li><%= link_to "Сдать недвижимость", rents_out_path, class: dropdown_active_class(rents_out_path) %></li>
            </ul>
          </li>
          <%= link_to root_path, class: "navbar-brand d-none d-md-block" do %>
            <%= image_tag "logo.png", title: "РиелтСтройСфера" %>
          <% end %>
          <li class="<%= link_active_class(team_members_path) %>">
            <%= link_to "Сотрудники", team_members_path, class: "nav-link" %>
          </li>
          <li class="<%= link_active_class(vacancies_path) %>">
            <%= link_to "Вакансии", vacancies_path, class: "nav-link" %>
          </li>
          <li class="<%= link_active_class(contacts_path) %>">
            <%= link_to "Контакты", contacts_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
      <div class="bg-main-menu"></div>
    </div>
  </nav>

  <% if current_page?(root_path) %>
    <div class="realty" style="background-image: url(<%= asset_url("#{controller_name}.png") %>);">
      <div class="all-objects text-center">
        <h2>Поиск объявлений и подбор недвижимости</h2>
        <h4>Лучшие предложения</h4>
        <%= link_to "Для тех, кто покупает", "#", class: "btn btn-success" %>
        <%= link_to "Для тех, кто продает", sells_search_buyers_path, class: "btn btn-success" %>
      </div>
    </div>
  <% else %>
    <%
      page = if params[:action] == "search_buyers"
               { image: "#{params[:action]}.png", title: "Подбор покупателей" }
             elsif controller_name == "realties"
               slug = Realty.find_by(slug: params[:slug]).realty_category.slug
               image = slug == "rent" ? "rents" : slug
               { image: "#{image}.png", title: meta_data.page_name }
             else
               { image: "#{controller_name}.png", title: meta_data.page_name }
             end
    %>
    <div class="title text-center" style="background-image: url(<%= asset_url(page[:image]) %>);">
      <div class="title-bg"></div>
      <h1><%= page[:title] %></h1>
    </div>
  <% end %>
</header>
