<section class="rent-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render "application/shared/breadcrumbs" %>
      </div>
    </div>
  </div>
</section>

<section class="section rea-area bg-overlay ptb_100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="section-heading text-center m-0">
          <h3 class="text-white">Оставьте заявку на размещение Вашей недвижимости на нашем сайте и всех площадках Мурманска</h3>
          <p class="text-white mt-4">Отправьте заявку на размещение и укажите как с Вами связаться</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 bg-light-green">
        <div class="wrapper-forms">
          <% if flash.key?("request") %>
            <%= render "application/shared/flash_messages", exclude: "request" %>
          <% else %>
            <h5>Я хочу сдать в аренду:</h5>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <%= button_tag "Подробная заявка", class: "nav-link active", id: "extended-form-tab", data: { "bs-toggle": :pill, "bs-target": "#extended-form" }, type: :button, role: :tab, aria: { controls: "extended-form", selected: true } %>
              </li>
              <li class="nav-item" role="presentation">
                <%= button_tag "Обычная заявка", class: "nav-link", id: "usual-form-tab", data: { "bs-toggle": :pill, "bs-target": "#usual-form" }, type: :button, role: :tab, aria: { controls: "usual-form", selected: false } %>
              </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="extended-form" role="tabpanel" aria-labelledby="extended-form-tab" tabindex="0">
                <%= form_with model: @message_extended, url: messages_path, html: { class: "needs-validation form-placement", novalidate: true } do |form| %>
                  <%= form.hidden_field :status, value: :new %>
                  <%= form.hidden_field :category, value: :request %>
                  <%= form.hidden_field :name, value: form_title("request", "#{controller_name}_out") %>

                  <div class="mb-3">
                    <%= select_tag "fields[0][type_realty]", options_for_select(Realty::TYPES.values), include_blank: false, class: "form-select", prompt: "Тип недвижимости" %>
                  </div>

                  <div class="mb-3">
                    <%= select_tag "fields[1][room_size]", options_for_select(Realty::ROOM_SIZES.values), include_blank: false, class: "form-select", prompt: "Количество комнат" %>
                  </div>

                  <div class="mb-3">
                    <%= text_field_tag "fields[2][cost]", nil, class: "form-control", placeholder: "Стоимость, ₽" %>
                  </div>

                  <div class="mb-3">
                    <%= text_field_tag "fields[3][square]", nil, class: "form-control", placeholder: "Площадь, кв.м" %>
                  </div>

                  <div class="mb-3">
                    <div class="input-group">
                      <%= text_field_tag "fields[4][floor]", nil, class: "form-control", placeholder: "Этаж" %>
                      <%= text_field_tag "fields[5][floors]", nil, class: "form-control", placeholder: "Количество этажей" %>
                    </div>
                  </div>

                  <div class="mb-3">
                    <%= text_field_tag "fields[6][address]", nil, class: "form-control", placeholder: "Адрес" %>
                    <div id="address-hint" class="form-text">Город, район, улица, номер дома</div>
                  </div>

                  <div class="mb-3">
                    <%= select_tag "fields[7][condition]", options_for_select(Realty::CONDITIONS.values), include_blank: false, class: "form-select", prompt: "Состояние" %>
                  </div>

                  <div class="mb-3">
                    <%= form.file_field :images, class: "form-control", multiple: true %>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating">
                      <%= text_area_tag "fields[8][details]", nil, class: "form-control", placeholder: "Дополнительная информация", rows: 5, style: "height: 100px" %>
                      <%= label_tag "fields[8][details]", "Дополнительная информация" %>
                    </div>
                  </div>

                  <div class="mb-3">
                    <%= text_field_tag "fields[9][username]", nil, class: "form-control", placeholder: "Ваше имя", required: true %>
                    <div class="invalid-feedback">Пожалуйста введите имя</div>
                    <div class="valid-feedback">Заполнено!</div>
                  </div>

                  <div class="mb-3">
                    <%= text_field_tag "fields[10][phone]", nil, class: "form-control phone-mask", placeholder: "Ваш телефон", required: true %>
                    <div class="invalid-feedback">Пожалуйста введите телефон</div>
                    <div class="valid-feedback">Заполнено!</div>
                  </div>

                  <div class="mb-3">
                    <%= select_tag "fields[11][communication_method]", options_for_select(Realty::COMMUNICATION_METHODS.values), include_blank: false, class: "form-select", prompt: "Способ связи" %>
                  </div>

                  <%= form.button t("app.button.send_request"), type: :submit, class: "btn btn-success" %>
                <% end %>
              </div>

              <div class="tab-pane fade" id="usual-form" role="tabpanel" aria-labelledby="usual-form-tab" tabindex="0">
                <%= form_with model: @message_short, url: messages_path, html: { class: "needs-validation form-placement-short", novalidate: true } do |form| %>
                  <%= form.hidden_field :status, value: :new %>
                  <%= form.hidden_field :category, value: :request %>
                  <%= form.hidden_field :name, value: form_title("request", "#{controller_name}_out") %>

                  <div class="mb-3">
                    <%= text_field_tag "fields[0][username_short]", nil, class: "form-control", placeholder: "Ваше имя", required: true %>
                    <div class="invalid-feedback">Пожалуйста введите имя</div>
                    <div class="valid-feedback">Заполнено!</div>
                  </div>

                  <div class="mb-3">
                    <%= text_field_tag "fields[1][phone_short]", nil, class: "form-control phone-mask", placeholder: "Ваш телефон", required: true %>
                    <div class="invalid-feedback">Пожалуйста введите телефон</div>
                    <div class="valid-feedback">Заполнено!</div>
                  </div>

                  <div class="mb-3">
                    <%= text_field_tag "fields[2][address_short]", nil, class: "form-control", placeholder: "Адрес" %>
                    <div id="short-address-hint" class="form-text">Город, район, улица, номер дома</div>
                  </div>

                  <div class="mb-3">
                    <%= form.file_field :images, class: "form-control", multiple: true %>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating">
                      <%= text_area_tag "fields[3][details_short]", nil, class: "form-control", placeholder: "Дополнительная информация", rows: 5, style: "height: 100px" %>
                      <%= label_tag "fields[3][details_short]", "Дополнительная информация" %>
                    </div>
                  </div>

                  <%= form.button t("app.button.send_request"), type: :submit, class: "btn btn-success" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-6">
        <%= image_tag "rent.png", alt: "РиелтСтройСфера" %>
      </div>
    </div>
  </div>
</section>

<section class="rent-services bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4>Агентство недвижимости «РиелтСтройСфера» <br /> предлагает комплекс услуг по сдаче в аренду Вашей недвижимости</h4>
      </div>
    </div>

    <div class="card-list">
      <div class="row text-center">
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-person-check"></i></div>
              <h5 class="card-title">Персональный специалист</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-people"></i></div>
              <h5 class="card-title">Подбор арендаторов</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-clipboard-data"></i></div>
              <h5 class="card-title">Аналитика рынка цен</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-house-slash"></i></div>
              <h5 class="card-title">Проверка арендаторов в «черном списке»</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-database-lock"></i></div>
              <h5 class="card-title">Обработка в закрытой риелторской базе</h5>
              <p class="card-text">Мурманской области</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-microsoft-teams"></i></div>
              <h5 class="card-title">Организация встречи</h5>
              <p class="card-text">выезд на встречу</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-clipboard2-check"></i></div>
              <h5 class="card-title">Составление и подписание договора аренды</h5>
              <p class="card-text">акта приема-передачи</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rent-management bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4>Доверительное управление недвижимостью</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <ul class="list-none text-slate-400 mt-4">
          <li class="mb-1 flex items-center">
            <i class="bi bi-check-circle"></i>
            Анализ по рынку аренды
          </li>
          <li class="mb-1 flex items-center">
            <i class="bi bi-check-circle"></i>
            Проверка арендаторов на «черный список»
          </li>
          <li class="mb-1 flex items-center">
            <i class="bi bi-check-circle"></i>
            Оценка состояния имущества
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="list-none text-slate-400 mt-4">
          <li class="mb-1 flex items-center">
            <i class="bi bi-check-circle"></i>
            Заключение договора
          </li>
          <li class="mb-1 flex items-center">
            <i class="bi bi-check-circle"></i>
            Контроль арендной платы
          </li>
          <li class="mb-1 flex items-center">
            <i class="bi bi-check-circle"></i>
            Урегулирование вопросов с коммунальными службами
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="list-none text-slate-400 mt-4">
          <li class="mb-1 flex items-center">
            <i class="bi bi-check-circle"></i>
            Выгодная сдача жилья в аренду
          </li>
          <li class="mb-1 flex items-center">
            <i class="bi bi-check-circle"></i>
            Контроль оплаты коммунальных платежей
          </li>
          <li class="mb-1 flex items-center">
            <i class="bi bi-check-circle"></i>
            Отслеживание сроков аренды и своевременный подбор арендаторов
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
