<%= form_with model: @job_title, url: url_form, html: { class: "admin-crud job-titles needs-validation", novalidate: true } do |form| %>
  <div class="row">
    <div class="col-lg-9">
      <div class="input-group mb-4 mb-3">
        <div class="input-group-text checkbox status">
          <%= form.check_box :status, class: "form-check-input mt-0", required: false %>
          <%= form.label :status, class: "form-check-label" %>
        </div>
      </div>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.position" %></span>
        <%= form.number_field :position, step: 1, min: 0, class: "form-control", placeholder: @job_titles.size + 1, required: true %>
        <div class="invalid-feedback"><%= t "validation.invalid.position" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.name" %></span>
        <%= form.text_field :name, class: "form-control", placeholder: t("placeholders.job_titles.name"), required: true %>
        <div class="invalid-feedback"><%= t "validation.invalid.name" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end align-items-start"><%= t "crud.table.employees" %></span>
        <%= form.collection_select :team_member_ids, @team_members, :id, :whole_name, { include_blank: false, selected: @job_title.team_member_ids }, { class: "form-select select2", multiple: true } %>
      </div>
    </div>
  </div>

  <%= form.submit t("crud.table.save_button"), class: "btn btn-light" %>
<% end %>
