<%
  contacts = footer_data[:contacts]
  social_links = footer_data[:social_links]
%>

<section class="contacts-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render "application/shared/breadcrumbs" %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-12 mb-3">
        <div class="alert alert-success text-center" role="alert">
          Если у вас есть какие-либо вопросы, просто заполните контактную форму, и мы ответим
          вам в ближайшее время. Если вы живете неподалеку, можете посетить наш офис.
        </div>

        <% if flash.key?("message") %>
          <%= render "application/shared/flash_messages", exclude: "message" %>
        <% else %>
          <%= form_with model: @message, url: messages_path, html: { class: "needs-validation contact-form", novalidate: true } do |form| %>
            <%= form.hidden_field :status, value: :new %>
            <%= form.hidden_field :category, value: :message %>
            <%= form.hidden_field :name, value: form_title("message", controller_name) %>

            <%= fields_for :fields do |fields| %>
              <div class="row mb-3">
                <div class="col-lg-6 col-12">
                  <%= fields.label :full_name, "ФИО", class: "form-label" %>
                  <%= fields.text_field :full_name, class: "form-control", required: true %>
                  <div class="invalid-feedback">Пожалуйста введите ваше имя</div>
                  <div class="valid-feedback">Заполнено!</div>
                </div>

                <div class="col-lg-6 col-12">
                  <%= fields.label :email, "E-mail", class: "form-label" %>
                  <%= fields.text_field :email, class: "form-control email-mask", required: true %>
                  <div class="invalid-feedback">Пожалуйста введите ваш email</div>
                  <div class="valid-feedback">Заполнено!</div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-lg-6 col-12">
                  <%= fields.label :phone, "Телефон", class: "form-label" %>
                  <%= fields.text_field :phone, class: "form-control phone-mask", required: true %>
                  <div class="invalid-feedback">Пожалуйста введите ваш номер телефона</div>
                  <div class="valid-feedback">Заполнено!</div>
                </div>

                <div class="col-lg-6 col-12">
                  <%= fields.label :subject, "Тема", class: "form-label" %>
                  <%= fields.text_field :subject, class: "form-control" %>
                </div>
              </div>

              <div class="mb-3">
                <%= fields.label :message, "Сообщение", class: "form-label" %>
                <%= fields.text_area :message, class: "form-control", rows: 5, required: true %>
                <div class="invalid-feedback">Пожалуйста введите текст сообщения</div>
                <div class="valid-feedback">Заполнено!</div>
              </div>
            <% end %>

            <%= form.button t("app.button.send"), type: :submit, class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>

      <div class="col-lg-4 col-12 mb-3">
        <div class="contact-info">
          <h5>Контактная информация</h5>
          <ul>
            <% if contacts.address_full.present? %>
              <li class="box">
                <div class="text-1 title">Адрес:</div>
                <p class="p-16 text-variant-1"><%= contacts.address_full %></p>
              </li>
            <% end %>

            <% if contacts.phone.present? || contacts.email.present? %>
              <li class="box">
                <div class="text-1 title">Информация:</div>
                <p class="p-16 text-variant-1">
                  <%= link_phone(contacts.phone) if contacts.phone.present? %>
                  <%= link_email(contacts.email) if contacts.email.present? %>
                </p>
              </li>
            <% end %>

            <li class="box">
              <div class="text-1 title">Время работы:</div>
              <p class="p-16 text-variant-1">
                <% working_hours(contacts.work_schedule).each do |_, data| %>
                  <span class="<%= 'weekend text-danger' if data[:times] == 'выходной' %>">
                    <%= [data[:days], data[:times]].join(": ") %>
                  </span>
                <% end %>
              </p>
            </li>

            <% if social_links.present? %>
              <li class="box">
                <div class="text-1 title">Социальные сети:</div>
                <div class="btn-group">
                  <% social_links.each do |social_link| %>
                    <%= link_to social_link.link, class: "btn btn-outline-secondary", target: "_blank", title: social_link.name do %>
                      <%= image_tag "social-links/#{social_link.name}.svg" %>
                    <% end %>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="map-contacts" data-turbo-permanent>
    <%= render "application/shared/maps/contacts" %>
  </div>

  <%= render "application/shared/widgets/base_realty" %>
</section>
