<section class="contacts-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render "application/shared/breadcrumbs" %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-12 mb-3">
        <div class="alert alert-success text-center" role="alert">
          Если у вас есть какие-либо вопросы, просто заполните контактную форму, и мы ответим
          вам в ближайшее время. Если вы живете неподалеку, можете посетить наш офис.
        </div>

        <% if flash.key?("message") %>
          <%= render "application/shared/flash_messages", exclude: "message" %>
        <% else %>
          <%= form_with model: @message, url: messages_path, html: { class: "needs-validation contact-form", novalidate: true } do |form| %>
            <%= form.hidden_field :status, value: :new %>
            <%= form.hidden_field :category, value: :message %>
            <%= form.hidden_field :name, value: form_title("message", controller_name) %>

            <%= fields_for :fields do |fields| %>
              <div class="row mb-3">
                <div class="col-lg-6 col-12">
                  <%= fields.label :full_name, "ФИО", class: "form-label" %>
                  <%= fields.text_field :full_name, class: "form-control", required: true %>
                  <div class="invalid-feedback">Пожалуйста введите ваше имя</div>
                  <div class="valid-feedback">Заполнено!</div>
                </div>

                <div class="col-lg-6 col-12">
                  <%= fields.label :email, "E-mail", class: "form-label" %>
                  <%= fields.text_field :email, class: "form-control email-mask", required: true %>
                  <div class="invalid-feedback">Пожалуйста введите ваш email</div>
                  <div class="valid-feedback">Заполнено!</div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-lg-6 col-12">
                  <%= fields.label :phone, "Телефон", class: "form-label" %>
                  <%= fields.text_field :phone, class: "form-control phone-mask", required: true %>
                  <div class="invalid-feedback">Пожалуйста введите ваш номер телефона</div>
                  <div class="valid-feedback">Заполнено!</div>
                </div>

                <div class="col-lg-6 col-12">
                  <%= fields.label :subject, "Тема", class: "form-label" %>
                  <%= fields.text_field :subject, class: "form-control" %>
                </div>
              </div>

              <div class="mb-3">
                <%= fields.label :message, "Сообщение", class: "form-label" %>
                <%= fields.text_area :message, class: "form-control", rows: 5, required: true %>
                <div class="invalid-feedback">Пожалуйста введите текст сообщения</div>
                <div class="valid-feedback">Заполнено!</div>
              </div>
            <% end %>

            <%= form.button t("app.button.send"), type: :submit, class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>

      <div class="col-lg-4 col-12 mb-3">
        <div class="contact-info">
          <h5>Контактная информация</h5>
          <ul>
            <li class="box">
              <div class="text-1 title">Адрес:</div>
              <p class="p-16 text-variant-1">183025, г. Мурманск, ул. Полярные Зори, 44, 2 этаж (вход со двора)</p>
            </li>
            <li class="box">
              <div class="text-1 title">Информация:</div>
              <p class="p-16 text-variant-1">
                <a href="tel:+79537541623">+7 (953) 754-1623</a>
                <a href="mailto:rssfera@mail.ru">rssfera@mail.ru</a>
              </p>
            </li>
            <li class="box">
              <div class="text-1 title">Время работы:</div>
              <p class="p-16 text-variant-1">
                <span>Понедельник - Пятница: 09:00 - 19:00</span>
                <span>Суббота: 10:00 - 18:00</span>
                <span class="weekend text-danger">Воскресенье: выходной</span>
              </p>
            </li>
            <li class="box">
              <div class="text-1 title">Социальные сети:</div>
              <ul class="box-social">
                <li>
                  <a href="https://vk.com/rssfera" class="item" target="_blank" title="ВКонтакте">
                    <svg fill="#0077FF" height="30" width="30" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 363.301 363.301" xml:space="preserve">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                      <g id="SVGRepo_iconCarrier"> <path d="M347.506,240.442c-7.91-9.495-16.899-18.005-25.592-26.235c-3.091-2.927-6.287-5.953-9.368-8.962 c-8.845-8.648-9.167-11.897-2.164-21.72c4.845-6.771,9.982-13.551,14.95-20.108c4.506-5.949,9.166-12.101,13.632-18.273l0.917-1.269 c8.536-11.811,17.364-24.024,22.062-38.757c1.22-3.887,2.501-9.607-0.428-14.39c-2.927-4.779-8.605-6.237-12.622-6.918 c-1.987-0.337-3.96-0.383-5.791-0.383l-55.901-0.04l-0.462-0.004c-8.452,0-14.148,3.983-17.412,12.178 c-3.116,7.83-6.539,16.168-10.445,24.096c-7.773,15.787-17.645,33.97-31.93,49.135l-0.604,0.645 c-1.687,1.813-3.598,3.866-4.995,3.866c-0.214,0-0.447-0.041-0.711-0.124c-2.959-1.153-4.945-8.316-4.855-11.648 c0.001-0.046,0.002-0.092,0.002-0.138l-0.039-64.61c0-0.224-0.016-0.446-0.045-0.668c-1.422-10.503-4.572-17.041-16.474-19.372 c-0.316-0.063-0.639-0.094-0.961-0.094h-58.126c-9.47,0-14.688,3.849-19.593,9.61c-1.324,1.54-4.08,4.746-2.714,8.635 c1.386,3.947,5.885,4.791,7.35,5.065c7.272,1.384,11.371,5.832,12.532,13.604c2.027,13.496,2.276,27.901,0.784,45.334 c-0.416,4.845-1.239,8.587-2.595,11.784c-0.315,0.746-1.432,3.181-2.571,3.182c-0.362,0-1.409-0.142-3.316-1.456 c-4.509-3.089-7.808-7.497-11.654-12.942c-13.084-18.491-24.065-38.861-33.575-62.288c-3.527-8.624-10.114-13.452-18.556-13.594 c-9.276-0.141-17.686-0.209-25.707-0.209c-8.764,0-16.889,0.081-24.823,0.246C8.914,83.74,4.216,85.776,1.744,89.676 c-2.476,3.903-2.315,9.03,0.479,15.236c22.366,49.723,42.645,85.876,65.755,117.228c16.193,21.938,32.435,37.123,51.109,47.784 c19.674,11.255,41.722,16.727,67.402,16.727c2.911,0,5.921-0.071,8.956-0.213c14.922-0.727,20.458-6.128,21.158-20.657 c0.333-7.425,1.145-15.212,4.795-21.853c2.304-4.184,4.452-4.184,5.158-4.184c1.36,0,3.046,0.626,4.857,1.799 c3.248,2.12,6.033,4.96,8.316,7.441c2.149,2.357,4.274,4.738,6.401,7.12c4.59,5.141,9.336,10.456,14.294,15.497 c10.852,11.041,22.807,15.897,36.538,14.843h51.252c0.109,0,0.219-0.004,0.328-0.011c5.107-0.337,9.53-3.17,12.135-7.772 c3.227-5.701,3.162-12.974-0.174-19.46C356.718,251.867,351.808,245.601,347.506,240.442z"/> </g>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://t.me/rssfera" class="item" target="_blank" title="Телеграм">
                    <svg fill="#40B3E0" width="24px" height="24px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path id="telegram-1" d="M18.384,22.779c0.322,0.228 0.737,0.285 1.107,0.145c0.37,-0.141 0.642,-0.457 0.724,-0.84c0.869,-4.084 2.977,-14.421 3.768,-18.136c0.06,-0.28 -0.04,-0.571 -0.26,-0.758c-0.22,-0.187 -0.525,-0.241 -0.797,-0.14c-4.193,1.552 -17.106,6.397 -22.384,8.35c-0.335,0.124 -0.553,0.446 -0.542,0.799c0.012,0.354 0.25,0.661 0.593,0.764c2.367,0.708 5.474,1.693 5.474,1.693c0,0 1.452,4.385 2.209,6.615c0.095,0.28 0.314,0.5 0.603,0.576c0.288,0.075 0.596,-0.004 0.811,-0.207c1.216,-1.148 3.096,-2.923 3.096,-2.923c0,0 3.572,2.619 5.598,4.062Zm-11.01,-8.677l1.679,5.538l0.373,-3.507c0,0 6.487,-5.851 10.185,-9.186c0.108,-0.098 0.123,-0.262 0.033,-0.377c-0.089,-0.115 -0.253,-0.142 -0.376,-0.064c-4.286,2.737 -11.894,7.596 -11.894,7.596Z"/></svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.avito.ru/brands/i7334388" class="item" target="_blank" title="Avito">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="10.595" cy="5.225" r="3.325" fill="#965EEB"></circle>
                      <circle cx="22.245" cy="7.235" r="7.235" fill="#0AF"></circle>
                      <circle cx="8.9" cy="18.6" r="8.9" fill="#04E061"></circle>
                      <circle cx="24.325" cy="21.005" r="5.375" fill="#FF4053"></circle>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<!--  <div class="map">-->
<!--    <a class="dg-widget-link" href="http://2gis.ru/murmansk/firm/70000001017465866/center/33.09141039848328,68.96609764053234/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Мурманска</a>-->
<!--    <div class="dg-widget-link">-->
<!--      <a href="http://2gis.ru/murmansk/firm/70000001017465866/photos/70000001017465866/center/33.09141039848328,68.96609764053234/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a>-->
<!--    </div>-->
<!--    <div class="dg-widget-link">-->
<!--      <a href="http://2gis.ru/murmansk/center/33.091394,68.96583/zoom/16/routeTab/rsType/bus/to/33.091394,68.96583╎РиелтСтройСфера, агентство недвижимости?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до РиелтСтройСфера, агентство недвижимости</a>-->
<!--    </div>-->
<!--    <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>-->
<!--    <script charset="utf-8">new DGWidgetLoader({"width":"100%","height":500,"borderColor":"#a3a3a3","pos":{"lat":68.96609764053234,"lon":33.09141039848328,"zoom":16},"opt":{"city":"murmansk"},"org":[{"id":"70000001017465866"}]});</script>-->
<!--    <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>-->
<!--  </div>-->

  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 explore">
        <div class="explore-wrapper">
          <div class="explore-info">
            <h1>Ищете квартиру своей мечты?</h1>
            <p>Мы можем помочь вам осуществить вашу мечту</p>
          </div>
          <div class="explore-link">
            <a class="btn btn-light" href="#">Подобрать <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
