<%= form_with model: @contact, url: url_form, html: { class: "admin-crud contacts needs-validation", novalidate: true } do |form| %>
  <div class="row">
    <div class="col-lg-9">
      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.address_full" %></span>
        <%= form.text_field :address_full, class: "form-control", placeholder: t("placeholders.address_full"), required: true %>
        <div class="invalid-feedback"><%= t "validation.invalid.address_full" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.address_short" %></span>
        <%= form.text_field :address_short, class: "form-control", placeholder: t("placeholders.address_short"), required: true %>
        <div class="invalid-feedback"><%= t "validation.invalid.address_short" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.phone_number" %></span>
        <%= form.text_field :phone, class: "form-control inputmask-phone", placeholder: t("placeholders.phone"), required: true %>
        <div class="invalid-feedback"><%= t "validation.invalid.phone" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.email" %></span>
        <%= form.text_field :email, class: "form-control", placeholder: t("placeholders.email"), required: true %>
        <div class="invalid-feedback"><%= t "validation.invalid.email" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>

      <div class="mb-4 mb-3 schedule">
        <div class="input-group">
          <span class="input-group-text w-100"><%= t "crud.table.work_schedule" %></span>
        </div>
        <% @contact.work_schedule.each do |key, value| %>
          <div class="input-group">
            <span class="input-group-text justify-content-end"><%= t("weekday.#{value['day'].to_s}") %></span>
            <% placeholder = placeholder_work_schedule @contact.work_schedule[key]["day"] %>

            <%= text_field_tag "work_schedule[#{key}][start]", @contact.work_schedule[key]["start"], class: "form-control time", placeholder: placeholder["start"] %>
            <%= text_field_tag "work_schedule[#{key}][end]", @contact.work_schedule[key]["end"], class: "form-control time", placeholder: placeholder["end"] %>
            <%= hidden_field_tag "work_schedule[#{key}][day]", @contact.work_schedule[key]["day"], class: "form-control" %>
          </div>
        <% end %>
      </div>

      <%# Contact::WORK_SCHEDULE.keys.each do |day| %>
        <%#= text_field_tag day, nil, class: "form-control income-item", placeholder: t("placeholders.from") %>
        <%#= text_field_tag day, nil, class: "form-control income-item", placeholder: t("placeholders.from") %>
      <%# end %>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.self_emloyed" %></span>
        <%= form.text_field :self_emloyed, class: "form-control", placeholder: t("placeholders.self_emloyed"), required: true %>
        <div class="invalid-feedback"><%= t "validation.invalid.self_emloyed" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>

      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.inn" %></span>
        <%= form.text_field :inn, class: "form-control", placeholder: t("placeholders.inn"), required: true %>
        <div class="invalid-feedback"><%= t "validation.invalid.inn" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>
    </div>
  </div>

  <%= form.submit t("crud.table.save_button"), class: "btn btn-light" %>
<% end %>
