<div class="d-flex justify-content-end page-content__header">
  <%= link_to new_admin_city_path, class: "btn btn-light" do %>
    <i class="bi bi-plus"></i>
    <%= t "cities.new_city" %>
  <% end %>
</div>

<% if @cities.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center"><%= t "crud.table.id" %></th>
        <th scope="col"><%= t "crud.table.name" %></th>
        <th scope="col"><%= t "crud.table.districts" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.region" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.realties" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.status" %></th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @cities.each.with_index(1) do |city, index| %>
        <tr>
          <th scope="row" class="text-center"><%= index %></th>
          <td><%= city.name %></td>
          <td><%= list_objects city.districts.pluck(:name) %></td>
          <td class="text-center">
            <div class="note"><%= city.region.full_name %></div>
          </td>
          <td class="text-center"><%= city.realties.size %></td>
          <td class="status text-center"><%= activity_status city.status %></td>
          <td>
            <%= link_to admin_city_path(city.id), class: "text-light" do %>
              <i class="bi bi-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_city_path(city.id), class: "text-light" do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
          </td>
          <td>
            <%= link_to admin_city_path(city.id), data: { turbo_method: "delete", turbo_confirm: t("crud.table.confirm") }, class: "text-light" do %>
              <i class="bi bi-trash3"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render "admin/shared/pagination_info", collection: @cities, total: @total_cities %>
<% else %>
  <div class="alert alert-success text-center" role="alert"><%= t "crud.table.not_found" %></div>
<% end %>
