<div class="page-subtitle-box d-flex justify-content-between">
  <h4><%= t "cities.show_city_title" %></h4>
  <div class="link-group mb-4">
    <%= link_to edit_admin_city_path(@city.id), class: "text-light" do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= link_to admin_city_path(@city.id), data: { turbo_method: "delete", turbo_confirm: t("crud.table.confirm") }, class: "text-light" do %>
      <i class="bi bi-trash3"></i>
    <% end %>
  </div>
</div>

<div class="admin-crud cities">
  <div class="row city__data">
    <div class="col-lg-9">
      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.status" %></div>
        <div class="field-value"><%= activity_status @city.status, true %></div>
      </div>

      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.region" %></div>
        <div class="field-value"><%= @city.region.full_name %></div>
      </div>

      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.name" %></div>
        <div class="field-value"><%= @city.name %></div>
      </div>

      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.districts" %></div>
        <div class="field-value"><%= list_objects @city.districts.pluck(:name) %></div>
      </div>

      <div class="mb-4 mb-3 d-flex field">
        <div class="field-name justify-content-end"><%= t "crud.table.realties" %></div>
        <div class="field-value"><%= @city.realties.size %></div>
      </div>
    </div>
  </div>
</div>
