<section class="rent-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render "application/shared/breadcrumbs" %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= render "application/shared/filter", url_form: buys_path %>
      </div>

      <div class="col-lg-12">
        <div class="display-options d-flex justify-content-between align-items-center">
          <div class="title">
            <h2><%= filter_title(controller_name, @search[:type_object], @search[:city]) %></h2>
          </div>

          <% if @realties.present? %>
            <div class="switch d-none d-lg-block">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="1x2-tab" data-bs-toggle="pill" data-bs-target="#1x2" type="button" role="tab" aria-controls="1x2" aria-selected="true"><i class="bi bi-grid-1x2"></i></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="3x3-tab" data-bs-toggle="pill" data-bs-target="#3x3" type="button" role="tab" aria-controls="3x3" aria-selected="false"><i class="bi bi-grid-3x3-gap"></i></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="list-tab" data-bs-toggle="pill" data-bs-target="#list" type="button" role="tab" aria-controls="list" aria-selected="false"><i class="bi bi-view-stacked"></i></button>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @realties.present? %>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="1x2" role="tabpanel" aria-labelledby="1x2-tab" tabindex="0">
        <div class="container-fluid">
          <div class="row rent-info">
            <div class="col-lg-6">
              <div class="row">
                <% @realties.each do |realty| %>
                  <div class="object col-lg-6" data-latitude="<%= realty.latitude %>" data-longitude="<%= realty.longitude %>">
                    <div class="card">
                      <%= link_to realty_href(realty) do %>
                        <div id="object1x2<%= realty.id %>" class="carousel slide">
                          <div class="carousel-inner">
                            <% if realty.photos.attached? %>
                              <% realty.photos.each.with_index do |photo, index| %>
                                <% carousel_classes = index.zero? ? "carousel-item active" : "carousel-item" %>
                                <div class="<%= carousel_classes %>">
                                  <%= image_tag photo.variant(:thumb), class: "d-block w-100", alt: realty.name %>
                                </div>
                              <% end %>
                            <% else %>
                              <%= image_tag "realty-placeholder.png", class: "d-block w-100", alt: realty.name %>
                            <% end %>
                          </div>
                          <% if realty.photos.attached? %>
                            <button class="carousel-control-prev" type="button" data-bs-target="#object1x2<%= realty.id %>" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#object1x2<%= realty.id %>" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          <% end %>
                        </div>
                      <% end %>

                      <div class="card-body">
                        <span class="card-price"><%= realty_price(realty) %></span>
                        <h5 class="card-title"><%= link_to_realty(realty) %></h5>
                        <div class="card-text">
                          <small class="card-location">
                            <i class="bi bi-geo-alt-fill"></i>
                            <%= realty_location realty %>
                          </small>
                          <% if realty.payments.present? %>
                            <small class="additional-payments">
                              <%= realty.payments %>
                            </small>
                          <% end %>
                          <div class="card-description"><%= realty.description&.html_safe %></div>
                        </div>
                      </div>
                      <%= realty_footer(realty) %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="col-lg-6">
              <div id="map-objects" class="map-objects" style="height:100vh;width:100%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="3x3" role="tabpanel" aria-labelledby="3x3-tab" tabindex="0">
        <div class="container">
          <div class="row rent-info">
            <% @realties.each do |realty| %>
              <div class="object col-lg-4" data-latitude="<%= realty.latitude %>" data-longitude="<%= realty.longitude %>">
                <div class="card">
                  <%= link_to realty_href(realty) do %>
                    <div id="object3x3<%= realty.id %>" class="carousel slide">
                      <div class="carousel-inner">
                        <% if realty.photos.attached? %>
                          <% realty.photos.each.with_index do |photo, index| %>
                            <% carousel_classes = index.zero? ? "carousel-item active" : "carousel-item" %>
                            <div class="<%= carousel_classes %>">
                              <%= image_tag photo.variant(:thumb), class: "d-block w-100", alt: realty.name %>
                            </div>
                          <% end %>
                        <% else %>
                          <%= image_tag "realty-placeholder.png", class: "d-block w-100", alt: realty.name %>
                        <% end %>
                      </div>
                      <% if realty.photos.attached? %>
                        <button class="carousel-control-prev" type="button" data-bs-target="#object3x3<%= realty.id %>" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#object3x3<%= realty.id %>" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      <% end %>
                    </div>
                  <% end %>
                  <div class="card-body">
                    <span class="card-price"><%= realty_price(realty) %></span>
                    <h5 class="card-title"><%= link_to_realty(realty) %></h5>
                    <div class="card-text">
                      <small class="card-location">
                        <i class="bi bi-geo-alt-fill"></i>
                        <%= realty_location realty %>
                      </small>
                      <% if realty.payments.present? %>
                        <small class="additional-payments">
                          <%= realty.payments %>
                        </small>
                      <% end %>
                      <div class="card-description"><%= realty.description&.html_safe %></div>
                    </div>
                  </div>
                  <%= realty_footer(realty) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab" tabindex="0">
        <div class="container">
          <div class="row rent-info rent-info-list">
            <% @realties.each do |realty| %>
              <div class="object col-lg-12" data-latitude="<%= realty.latitude %>" data-longitude="<%= realty.longitude %>">
                <div class="card">
                  <div class="row g-0">
                    <div class="col-lg-4">
                      <%= link_to realty_href(realty) do %>
                        <div id="object<%= realty.id %>" class="carousel slide">
                          <div class="carousel-inner">
                            <% if realty.photos.attached? %>
                              <% realty.photos.each.with_index do |photo, index| %>
                                <% carousel_classes = index.zero? ? "carousel-item active" : "carousel-item" %>
                                <div class="<%= carousel_classes %>">
                                  <%= image_tag photo.variant(:thumb), class: "d-block w-100", alt: realty.name %>
                                </div>
                              <% end %>
                            <% else %>
                              <%= image_tag "realty-placeholder.png", class: "d-block w-100", alt: realty.name %>
                            <% end %>
                          </div>
                          <% if realty.photos.attached? %>
                            <button class="carousel-control-prev" type="button" data-bs-target="#object<%= realty.id %>" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#object<%= realty.id %>" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <div class="card-top d-flex justify-content-between align-items-center">
                          <h5 class="card-title"><%= link_to_realty(realty) %></h5>
                          <div class="card-price text-end"><%= realty_price(realty) %></div>
                        </div>

                        <div class="card-text">
                          <small class="card-location">
                            <i class="bi bi-geo-alt-fill"></i>
                            <%= realty_location realty %>
                          </small>
                          <small class="additional-payments">
                            <%= realty.payments %>
                          </small>
                          <div class="card-description"><%= realty.description&.html_safe %></div>
                        </div>
                      </div>
                      <%= realty_footer(realty) %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>

<section class="section rea-area bg-overlay ptb_100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="section-heading text-center m-0">
          <h2 class="text-white">Не нашли подходящий вариат?</h2>
          <p class="text-white mt-4">Оставьте заявку и мы подберем объект из закрытой базы</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <% if flash.key?("request") %>
          <%= render "application/shared/flash_messages", exclude: "request" %>
        <% else %>
          <%= form_with model: @message, url: messages_path, html: { class: "needs-validation rental-request-form", novalidate: true } do |form| %>
            <%= form.hidden_field :status, value: :new %>
            <%= form.hidden_field :category, value: :request %>
            <%= form.hidden_field :name, value: form_title("request", controller_name) %>

            <div class="mb-3">
              <%= text_field_tag "fields[0][username]", nil, class: "form-control", placeholder: "Ваше имя", required: true %>
              <div class="invalid-feedback">Пожалуйста введите имя</div>
              <div class="valid-feedback">Заполнено!</div>
            </div>

            <div class="mb-3">
              <%= text_field_tag "fields[1][phone]", nil, class: "form-control phone-mask", placeholder: "Ваш телефон", required: true %>
              <div class="invalid-feedback">Пожалуйста введите телефон</div>
              <div class="valid-feedback">Заполнено!</div>
            </div>

            <div class="d-grid gap-2">
              <%= form.button t("app.button.send"), type: :submit, class: "btn btn-success" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="rent-services bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Почему выбирают именно нас?</h2>
        <p class="subtitle">Компания «АН РиелтСтройСфера» - одно из ведущих агентств недвижимости в Мурманске</p>
      </div>
    </div>

    <div class="card-list">
      <div class="row text-center">
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-house-check"></i></div>
              <h5 class="card-title">Найдите свой будущий дом</h5>
              <p class="card-text">Мы поможем вам найти новый дом, у нас большой опыт работы с недвижимостью</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-people"></i></div>
              <h5 class="card-title">Опытные агенты</h5>
              <p class="card-text">В нашем штате опытные риелторы, готовые предоставить подробные консультации</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-signpost-2"></i></div>
              <h5 class="card-title">Покупка или аренда жилья</h5>
              <p class="card-text">У нас богатая база недвижимости, которая ежедневно пополняется новыми предложениями</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 card-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="card-icon"><i class="bi bi-shield-check"></i></div>
              <h5 class="card-title">Юридический отдел</h5>
              <p class="card-text">Задача юридического отдела – обеспечить БЕЗОПАСНОСТЬ сделки для наших клиентов.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
