<%= form_with model: @district, url: url_form, html: { class: "admin-crud districts needs-validation", novalidate: true } do |form| %>
  <%= form.hidden_field :realty_ids %>

  <div class="row">
    <div class="col-lg-9">
      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end"><%= t "crud.table.name" %></span>
        <%= form.text_field :name, class: "form-control", placeholder: t("placeholders.districts.name"), required: true %>
        <div class="invalid-feedback"><%= t "validation.invalid.name" %></div>
        <div class="valid-feedback"><%= t "validation.valid" %></div>
      </div>
      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end align-items-start"><%= t "crud.table.city" %></span>
        <%= form.collection_select :city_id, @cities || [], :id, :name, { include_blank: false, selected: @district.city_id }, { class: "form-select select2" } %>
      </div>
      <div class="input-group mb-4 mb-3">
        <span class="input-group-text justify-content-end align-items-start"><%= t "crud.table.streets" %></span>
        <%= form.collection_select :street_ids, @streets, :id, :full_name, { include_blank: false, selected: @district.street_ids }, { class: "form-select select2", multiple: true } %>
      </div>
    </div>
  </div>

  <%= form.submit t("crud.table.save_button"), class: "btn btn-light" %>
<% end %>
