<div class="page-content__header d-flex justify-content-between">
  <div class="page-subtitle-box d-flex align-items-center">
    <h4><%= t "regions.list_region_title" %></h4>
  </div>
  <%= link_to new_admin_region_path, class: "btn btn-light" do %>
    <i class="bi bi-plus"></i>
    <%= t "regions.new_region" %>
  <% end %>
</div>

<% if @regions.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center"><%= t "crud.table.id" %></th>
        <th scope="col"><%= t "crud.table.name" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.country" %></th>
        <th scope="col" class="text-center"><%= t "crud.table.cities" %></th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @regions.each.with_index(1) do |region, index| %>
        <tr>
          <th scope="row" class="text-center"><%= index %></th>
          <td><%= region.full_name %></td>
          <td class="text-center"><%= region.country.name %></td>
          <td class="text-center"><%= region.cities.size %></td>
          <td>
            <%= link_to admin_region_path(region.id), class: "text-light" do %>
              <i class="bi bi-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_region_path(region.id), class: "text-light" do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
          </td>
          <td>
            <%= link_to admin_region_path(region.id), data: { turbo_method: "delete", turbo_confirm: t("crud.table.confirm") }, class: "text-light" do %>
              <i class="bi bi-trash3"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render "admin/shared/pagination_info", collection: @regions, total: @total_regions %>
<% else %>
  <div class="alert alert-success text-center" role="alert"><%= t "crud.table.not_found" %></div>
<% end %>
