<% if @realties.present? %>
  <section id="new-objects" class="new-objects bg-light">
    <div class="container">
      <div class="row text-center section-header">
        <h1>Новые объекты</h1>
        <p class="subtitle">Удобный сервис для продажи и поиска обектов недвижимости</p>
      </div>

      <div class="all-objects row">
        <% @realties.each do |realty| %>
          <div class="object col-lg-4">
            <div class="card">
              <%= link_to realty_href(realty) do %>
                <div id="object<%= realty.id %>" class="carousel slide">
                  <div class="carousel-inner">
                    <% if realty.photos.attached? %>
                      <% realty.photos.each.with_index do |photo, index| %>
                        <% carousel_classes = index.zero? ? "carousel-item active" : "carousel-item" %>
                        <div class="<%= carousel_classes %>">
                          <%= image_tag photo.variant(:thumb), class: "d-block w-100", alt: realty.name %>
                        </div>
                      <% end %>
                    <% else %>
                      <%= image_tag "realty-placeholder.png", class: "d-block w-100", alt: realty.name %>
                    <% end %>
                  </div>
                  <% if realty.photos.attached? %>
                    <button class="carousel-control-prev" type="button" data-bs-target="#object<%= realty.id %>" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#object<%= realty.id %>" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  <% end %>
                </div>
              <% end %>
              <div class="card-body">
                <span class="card-price"><%= realty_price(realty) %></span>
                <h5 class="card-title"><%= link_to_realty(realty) %></h5>
                <div class="card-text">
                  <small class="card-location">
                    <i class="bi bi-geo-alt-fill"></i>
                    <%= realty_location realty %>
                  </small>
                  <% if realty.payments.present? %>
                    <small class="additional-payments">
                      <%= realty.payments %>
                    </small>
                  <% end %>
                  <div class="card-description"><%= realty.description&.html_safe %></div>
                </div>
              </div>
              <%= realty_footer(realty) %>
            </div>
          </div>
        <% end %>

        <div class="col-12 text-center">
          <%= pagination @realties, "new-objects" %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<section class="section rea-area bg-overlay ptb_100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="section-heading text-center m-0">
          <h2 class="text-white">Ищете лучшее агентство недвижимости?</h2>
          <p class="text-white mt-4">У нас богатая база объектов недвижимости. А наши опытные риелторы, готовы предоставить подробные консультации по всем вопросам.</p>
          <%= link_to "связаться с нами", contacts_path, class: "btn btn-light mt-4" %>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @best_agent.present? %>
  <section class="team best-agent bg-light">
    <div class="container">
      <div class="row text-center section-header">
        <h1>Лучший агент месяца</h1>
        <p class="subtitle">
          <%= image_tag "stars.png", style: "width: 100px" %>
        </p>
      </div>

      <div class="team-members row">
        <div class="member col-lg-3">
          <div class="card">
            <div class="card-image">
              <%= link_to team_member_path(@best_agent.slug) do %>
                <%= image_tag @best_agent.photo.variant(:full), class: "w-100", alt: @best_agent.whole_name %>
              <% end %>

              <div class="team-info">
                <div class="name"><%= @best_agent.whole_name %></div>
                <%= list_positions @best_agent.job_titles %>
              </div>
            </div>

            <div class="award"><%= image_tag "award.png" %></div>
          </div>
        </div>

        <div class="col-lg-3">
          <%= form_with model: @message, url: messages_path, html: { class: "needs-validation message-form", novalidate: true } do |form| %>
            <%= form.hidden_field :status, value: :new %>
            <%= form.hidden_field :category, value: :message %>
            <%= form.hidden_field :name, value: form_title("message", controller_name, @best_agent.whole_name) %>

            <div class="sidebar-card-title text-center">
              <h5>Написать сообщение</h5>
            </div>

            <%= hidden_field_tag "fields[0][team_member]", @best_agent.whole_name %>

            <div class="mb-2">
              <%= text_field_tag "fields[1][username]", nil, class: "form-control", placeholder: "Ваше имя", required: true %>
              <div class="invalid-feedback">Пожалуйста введите имя</div>
              <div class="valid-feedback">Заполнено!</div>
            </div>

            <div class="mb-2">
              <%= text_field_tag "fields[2][email]", nil, class: "form-control email-mask", placeholder: "Ваш email", required: true %>
              <div class="invalid-feedback">Пожалуйста введите email</div>
              <div class="valid-feedback">Заполнено!</div>
            </div>

            <div class="mb-2">
              <%= text_field_tag "fields[3][phone]", nil, class: "form-control phone-mask", placeholder: "Ваш телефон", required: true %>
              <div class="invalid-feedback">Пожалуйста введите телефон</div>
              <div class="valid-feedback">Заполнено!</div>
            </div>

            <div class="mb-2">
              <%= select_tag "fields[4][type_realty]", options_for_select(Realty::TYPES.values), include_blank: false, prompt: "Тип недвижимости", class: "form-select" %>
            </div>

            <div class="mb-3">
              <%= text_area_tag "fields[5][message]", nil, class: "form-control", placeholder: "Сообщение", rows: 5 %>
              <div class="invalid-feedback">Пожалуйста введите текст сообщения</div>
              <div class="valid-feedback">Заполнено!</div>
            </div>

            <div class="d-grid gap-2">
              <%= form.button t("app.button.send"), type: :submit, class: "btn btn-success" %>
            </div>
          <% end %>
        </div>

        <div class="col-lg-6">
          <% slides = @best_agent_realties.each_slice(2) %>

          <div id="carousel-objects" class="carousel slide">
            <div class="carousel-indicators">
              <% slides.with_index do |_, index| %>
                <% class_active = "active" if index.zero? %>
                <%= button_tag '', class: class_active, type: :button, data: { "bs-target": "#carousel-objects", "bs-slide-to": index }, aria: { current: (true if index.zero?), label: "Slide #{index}" } %>
              <% end %>
            </div>
            <div class="carousel-inner">
              <% slides.with_index do |objects, index| %>
                <% carousel_classes = index.zero? ? "carousel-item active" : "carousel-item" %>

                <div class="<%= carousel_classes %>">
                  <div class="row">
                    <% objects.each do |realty| %>
                      <div class="object col-lg-6">
                        <div class="card">
                          <%= link_to realty_href(realty) do %>
                            <% if realty.photos.attached? %>
                              <%= image_tag realty.photos.first.variant(:thumb), class: "d-block w-100", alt: realty.name %>
                            <% else %>
                              <%= image_tag "realty-placeholder.png", class: "d-block w-100", alt: realty.name %>
                            <% end %>
                          <% end %>
                          <div class="card-body">
                                    <span class="card-price">
                                      <%= realty_price(realty) %>
                                    </span>
                            <h5 class="card-title">
                              <%= link_to_realty(realty) %>
                            </h5>
                            <div class="card-text">
                              <small class="card-location">
                                <i class="bi bi-geo-alt-fill"></i>
                                <%= realty_location realty %>
                              </small>
                              <% if realty.payments.present? %>
                                <small class="additional-payments">
                                  <%= realty.payments %>
                                </small>
                              <% end %>
                              <div class="card-description">
                                <%= realty.description&.html_safe %>
                              </div>
                            </div>
                          </div>
                          <%= realty_footer(realty) %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<% if @team_members.present? %>
  <section class="team bg-white">
    <div class="container">
      <div class="row text-center section-header">
        <h1>Наши сотрудники</h1>
        <p class="subtitle">Преданная своему делу команда</p>
      </div>

      <div class="team-members row">
        <% @team_members.each do |team_member| %>
          <div class="member col-lg-3">
            <div class="card">
              <div class="card-image">
                <% if team_member.photo.attached? %>
                  <%= link_to team_member_path(team_member.slug) do %>
                    <%= image_tag team_member.photo.variant(:full), class: "card-img-top", alt: team_member.whole_name %>
                  <% end %>
                <% else %>
                  <%= link_to team_member_path(team_member.slug) do %>
                    <%= image_tag "team-placeholder.png", class: "card-img-top", alt: team_member.whole_name %>
                  <% end %>
                <% end %>

                <% if team_member.best_agent %>
                  <div class="award"><%= image_tag "award.png" %></div>
                <% end %>

                <div class="team-info">
                  <div class="name"><%= team_member.whole_name %></div>
                  <%= list_positions team_member.job_titles %>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Контакты</h5>
              </div>
              <ul class="list-group list-group-flush card-contacts">
                <li class="list-group-item">
                  <i class="bi bi-telephone-fill"></i>
                  <%= link_phone team_member.phone %>
                </li>
                <li class="list-group-item">
                  <i class="bi bi-envelope"></i>
                  <%= link_email team_member.email %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<% if @partners.present? %>
  <section class="partners-list bg-light">
    <div class="container">
      <div class="row text-center section-header">
        <h1>Партнеры</h1>
        <p class="subtitle">Каждый день мы укрепляем доверие благодаря общению, прозрачности и результатам</p>
      </div>

      <div class="row">
        <% @partners.each do |partner| %>
          <div class="col-12 col-lg text-center partner-item">
            <%= link_to partners_path(anchor: partner.anchor) do %>
              <%= image_tag partner.logo, class: "d-block", alt: partner.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
