<% if flash.any? %>
  <div class="toast-container position-fixed">
    <% flash.each do |type, message| %>
      <% toast_data = build_toast_data(type) %>

      <div class="toast show <%= toast_data[:classes] %>" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <%= toast_data[:icon] %>
          <strong class="me-auto"><%= toast_data[:title] %></strong>
          <small><%= Time.zone.now.strftime("%H:%M:%S") %></small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body"><%= message %></div>
      </div>
    <% end %>
  </div>
<% end %>



