<div id="sidebar" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
  <div class="main-menu d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <%= link_to admin_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", alt: "РиелтСтройСфера", width: "40", height: "40", class: "d-inline-block align-text-top" %>
      <div>РиелтСтройСфера</div>
    <% end %>

    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item menu-title" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="true">
        Меню
      </li>
      <div class="collapse navbar-collapse show" id="main-menu">
        <li class="nav-item">
          <%= link_to admin_path, class: active_class(admin_path) do %>
            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_team_members_path, class: active_class(admin_team_members_path) do %>
            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Сотрудники</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_reviews_path, class: active_class(admin_reviews_path) do %>
            <i class="bi bi-star"></i> <span class="ms-1 d-none d-sm-inline">Отзывы</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_vacancies_path, class: active_class(admin_vacancies_path) do %>
            <i class="bi bi-clipboard2-data"></i> <span class="ms-1 d-none d-sm-inline">Вакансии</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_partners_path, class: active_class(admin_partners_path) do %>
            <i class="bi bi-bank"></i> <span class="ms-1 d-none d-sm-inline">Партнеры</span>
          <% end %>
        </li>
      </div>

      <li class="nav-item menu-title" data-bs-toggle="collapse" data-bs-target="#realty-menu" aria-controls="realty-menu" aria-expanded="true">
        Недвижимость
      </li>
      <div class="collapse navbar-collapse" id="realty-menu">
        <li class="nav-item">
          <%= link_to admin_realty_categories_path, class: active_class(admin_realty_categories_path) do %>
            <i class="bi bi-folder"></i> <span class="ms-1 d-none d-sm-inline">Категории</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_realties_path, class: active_class(admin_realties_path) do %>
            <i class="bi bi-house"></i> <span class="ms-1 d-none d-sm-inline">Объекты</span>
          <% end %>
        </li>
      </div>

      <li class="nav-item menu-title" data-bs-toggle="collapse" data-bs-target="#contact-menu" aria-controls="contact-menu" aria-expanded="true">
        Контакты
      </li>
      <div class="collapse navbar-collapse" id="contact-menu">
        <li class="nav-item">
          <%= link_to admin_contact_path(Contact.last.id), class: active_class(admin_contact_path(Contact.last.id)) do %>
            <i class="bi bi-journal-text"></i> <span class="ms-1 d-none d-sm-inline">Контактные данные</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_social_links_path, class: active_class(admin_social_links_path) do %>
            <i class="bi bi-wechat"></i> <span class="ms-1 d-none d-sm-inline">Социальные сети</span>
          <% end %>
        </li>
      </div>

      <li class="nav-item menu-title" data-bs-toggle="collapse" data-bs-target="#location-menu" aria-controls="location-menu" aria-expanded="true">
        Местоположение
      </li>
      <div class="collapse navbar-collapse" id="location-menu">
        <li class="nav-item">
          <%= link_to admin_cities_path, class: active_class(admin_cities_path) do %>
            <i class="bi bi-buildings"></i> <span class="ms-1 d-none d-sm-inline">Города</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_districts_path, class: active_class(admin_districts_path) do %>
            <i class="bi bi-geo"></i> <span class="ms-1 d-none d-sm-inline">Районы</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_streets_path, class: active_class(admin_streets_path) do %>
            <i class="bi bi-signpost-2"></i> <span class="ms-1 d-none d-sm-inline">Улицы</span>
          <% end %>
        </li>
      </div>

      <li class="nav-item menu-title" data-bs-toggle="collapse" data-bs-target="#other-menu" aria-controls="other-menu" aria-expanded="true">
        Дополнительно
      </li>
      <div class="collapse navbar-collapse" id="other-menu">
        <li class="nav-item">
          <%= link_to admin_job_titles_path, class: active_class(admin_job_titles_path) do %>
            <i class="bi bi-diagram-2"></i> <span class="ms-1 d-none d-sm-inline">Должности</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_skills_path, class: active_class(admin_skills_path) do %>
            <i class="bi bi-lightbulb"></i> <span class="ms-1 d-none d-sm-inline">Навыки</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_employment_types_path, class: active_class(admin_employment_types_path) do %>
            <i class="bi bi-hourglass-split"></i> <span class="ms-1 d-none d-sm-inline">Типы занятости</span>
          <% end %>
        </li>
      </div>
    </ul>
  </div>
</div>
