<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Rssfera</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "application/shared/header" %>
    <%= yield %>
    <%= render "application/shared/content_info" if @contacts.present? %>
    <%= render "application/shared/footer" %>
  </body>
</html>
